sudo: required
dist: bionic

os:
  - linux

language: python
python:
  - "3.6"
virtualenv:
  system_site_packages: true

env:
  - TEST_PARSER=caffe TEST_ONNX=true
  - TEST_PARSER=caffe TEST_ONNX=false
  - TEST_PARSER=caffe_2 TEST_ONNX=true
  - TEST_PARSER=caffe_2 TEST_ONNX=false

cache:
  directories:
    - $HOME/.cache/pip

addons:
  apt:
    update: false

before_install:
  - sudo apt-get install -y --no-install-recommends caffe-cpu
  - sudo apt-get install -y --no-install-recommends openmpi-bin
  - sudo ln -s /usr/lib/x86_64-linux-gnu/libmpi_cxx.so.20 /usr/lib/x86_64-linux-gnu/libmpi_cxx.so.1
  - sudo ln -s /usr/lib/x86_64-linux-gnu/libmpi.so.20 /usr/lib/x86_64-linux-gnu/libmpi.so.12

install:
  - pip install -q -r $(python requirements/select_requirements.py)
  - pip install -q wget

before_script:
  - export LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/usr/lib/x86_64-linux-gnu

after_failure: true

after_success: true

after_script: true

script: bash test.sh $TEST_PARSER

matrix:
  fast_finish: true

  allow_failures:
    - env: TEST_PARSER=paddle TEST_ONNX=true
    - env: TEST_PARSER=paddle TEST_ONNX=false

  exclude:
    - python: "3.6"
      env: TEST_PARSER=paddle TEST_ONNX=true
    - python: "3.6"
      env: TEST_PARSER=paddle TEST_ONNX=false
    - os: linux
      env: TEST_PARSER=coreml TEST_ONNX=true
    - os: linux
      env: TEST_PARSER=coreml TEST_ONNX=false

notifications:
  email:
    on_success: never
    on_failure: never
