html,body{
    padding: 0;
    margin: 0;
}
/* body变灰色 */
.body_grey{
    opacity: .5;
    filter:alpha(opacity=50);          
    -moz-opacity:0.5;          
    -khtml-opacity: 0.5;          
    opacity: 0.5;  
}
.table-box{
    width: 100%;
}
/* search div box */
.search-box{
    float: right;
    width: 310px;
    height: 34px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 2px solid #EF9549;
}
.search-box>div{
    float: left;
}
.search-box .search-input{
    width: 250px;
    height: 34px;
}
.search-box .search-btn{
    width: 60px;
    height: 34px;
}
.search-input input{
    display: block;
    width: 98%;
    line-height: 32px;
    border: none;
    outline: none;
    padding-left: 5px;
}
.search-btn{
    background: #EF9549;
    text-align: center;
    vertical-align: middle;
}
.search-btn img{
    width: 24px;
    /* height-24 */
    margin-top: 5px;
    cursor: pointer;
} 
.table-content{
    width: 86%;
    margin: 0 auto;
    /* border: 1px solid red; */
}
.brand{
    height: 196px;
    color:burlywood;
    font-size: 5em;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    padding: 0 20px;
    font-family: Dosis;
    background: url(../assets/banner.jpg);
    background-size: 100% 100%;
}
.brand span{
    position: relative;
    top: 50px;
    left: 30px;
}
.table{
    width: 100%;
    margin: 10px auto;
    border-collapse:collapse;
    border-spacing:0;
    text-align: center;
}
.table tr, .table td{
    border: 1px solid #ccc;
}
.table .table-head{
    height: 45px;
    background: #EF9549;
    color: white;
    font-weight: bold;
}
.table tr{
    height: 40px;
}
.table .tab-content:hover{
    background: #F5F5F5;  	
}
/* 隔行变色 */
/* .color_odd{
    background-color: 	#FFE4B5;
}
.color_even{
    background-color: #fff;
} */
.table .art{
    margin-right: 10px;
}
.table .convert_btu{
    border: none;
    height: 25px;
    font-size: 15px;
    color: white;
    padding: 3px 9px;
    /* border: 1px solid lightblue; */
    border-radius: 5px;
    background: #3c8dbc;
    cursor: pointer;
}
/* framework filter data */
.fiter{
    margin-left: 20px;
    cursor: pointer;
}
.fiter img{
    width: 20px;
    height: 20px;
    float: right;
    margin-right: 2%;
}
.table_page{
    float: right;
    height: 33px;
    overflow: hidden
}
.table_page a:visited{
    color: blue;
}
.table_page a:focus span{
    color: white;
    background: #3c8dbc;
}
.table_page a span{
    display: inline-block;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-right: 4px;
}
.table_page a:last-child span{
    margin-right: 0;
}
/* 弹窗 */
.des_window{
    width: 500px;
    height: 300px;
    margin: 0 auto;
    border: 2px solid red;
}
.disappear_des{
    display: none;
}
.table-content .display_des{
    position: absolute;
    left: 15px;
    top: 70px;
    width: 97%;
    height: 80%;
    background:rgba(189,183,107,.6);
    border: 2px solid rgb(189,183,107);
}
.display_des .content{
    width: 60%;
    height: 100%;
    line-height: 26px;
    padding-left: 30px;
    padding-top: 50px;
    font-size: 16px;
    font-weight: bold;
    word-wrap: break-word;
    overflow: hidden;
}
/* 关闭description弹窗 */
.close{
    float: right;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border: 1px solid #ccc;
    background:#1E90FF;
    color: white;
    cursor: pointer;
    font-size: 20px;
}
