/* news feed */
#news-feed {
    height: 50px;
    background: #2A6A97;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #ffffff;
}

.news-date, .news-headline, .news-more {
    text-transform: uppercase;
    height: 1.2em;
    flex-direction: column;
}

.news-next, .news-prev {
    flex: 0 0 80px;
    cursor: pointer;
    flex-direction: column;
    /*height: 100%;*/
    align-items: center;
    justify-content: center;
}

.news-next img, .news-prev img {
    height: 20px;
    display: inline-block;
}

#news-feed div + * {
    /*margin-left: 10px;*/
}

.news-info {
    display: flex;
    flex-direction: row;
    width: calc(100% - 160px);
    justify-content: center;
}

.news-date {
    font-size: 15px;
    min-width: 140px;
}

.news-more {
    min-width: 94px;
}

.news-headline {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
    flex-grow: 0;
    margin: 0 10px;
    position: relative;
}

.news-more-href {
    text-decoration: underline;
    font-weight: bold;
}
.news-more-href {
    color: #ffffff;
    font-weight: bold;
    font-style: underline;
    width: 100%;
}

@media (min-width: 1024px) {
    .news-feed {

    }

    .news-prev .news-next {

    }

    .news-info {
        width: calc(1024px - 160px);
    }
}

@media (max-width: 640px) {
    #news-feed {
        height: 124px;
    }
    .news-info {
        flex-direction: column;
        text-align: left;
        padding: 16px 0;
    }
    #news-feed div + * {
        margin-left: unset;
    }
    .news-headline {
        height: 2.3em;
        white-space: unset;
        margin: 12px 0;
    }
}

